{% extends 'base.html' %}
{% load static %}


{% block head %}
  <title>Cookie use - Ftrina</title>
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Prohibited</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="title"><span>Prohibited Product List</span></div>


<p>Thank you for reviewing Ftrina Prohibited Products and Restricted Products. By signing up for a Ftrina Vendor account, you agree that you will not use Ftrina services to accept payments for sale of any Prohibited Products, and that you will not use Ftrina services to accept payment for sale of any Restricted Products.</p>

<p><b>Prohibited Products</b></p>

<div class="col-6"><ul class="disc">
      <li>Adult Entertainment (Sexually Oriented)</li>
      <li>Audio/video text</li>
      <li>Buyers Clubs</li>
      <li>Cash Gifting</li>
      <li>Chain Letters</li>
      <li>Check cashing</li>
      <li>Collection agencies or firms involved in recovering/collecting past due receivables</li>
      <li>Credit card protection (including identity theft protection)</li>
      <li>Credit Counseling or Credit Repair Services</li>
      <li>Cultural artifacts, Antiquities, and Native American Artifacts</li>
      <li>Currency exchange</li>
      <li>Cyberlockers</li>
      <li>Dating/Social networking</li>
      <li>Debt consolidation</li>
      <li>Direct Marketing- Subscription Sellers</li>
      <li>Drug Paraphernalia</li>
      <li>Embassy, Foreign Consulate, or Other Foreign Government</li>
      <li>Employment Agencies</li>
      <li>Essay/Thesis writing services</li>
      <li>Extended warranty companies</li>
      <li>Financial Services or Advice (including but not limited to)</li>
        <ul class="circle">
        <li>Check cashing</li>
        <li>Collection agencies or firms involved in recovering/collecting past due receivables</li>
        <li>Credit card protection (including identity theft protection)</li>
        <li>Credit Counseling or Credit Repair Services</li>
        <li>Currency exchange</li>
        <li>Debt consolidation</li>
        <li>Loan or Mortgage Modification</li>
        <li>Money transfer services/Cash Advance (except for regulated Financial Institutions which are acceptable)</li>
        <li>Quasi Cash</li>
        </ul>
        <li>Firearms, Ammunition, High Capacity Magazines, Weapons (Swords, Knives, etc.)</li>
        <li>Fulfillment Centers</li>
        <li>Gambling, including Prognostication, Lotteries, Raffles, Contests, and sweepstakes</li>
        <li>“Get-rich-quick” schemes</li>
        <li>Hypnosis and/or subliminal recordings or consultation</li>
        <li>Illegal and Potentially Illegal Products/Services</li>
        <li>Inbound Telemarketing Companies that receive calls as the result of post cards or similar mailings (as opposed to catalog or media advertising)</li>
        <li>Infomercial Sellers</li>
        <li>Internet Pharmacies</li>
      <li>Internet Pharmacy Referral Sites</li>
      <li>Legal services and/or advice</li>
      <li>Loan or Mortgage Modification</li>
      <li>Market Research Reports</li>
      <li>Matrimonial sites, “Find-A-Bride”, etc.</li>
      <li>Medical Benefits packages</li>
      <li>Medical Marijuana</li>
      <li>Medical Services, Advice and/or Devices</li>
      <li>Money transfer services/Cash Advance (except for regulated Financial Institutions which are acceptable)</li>
      <li>Multi-Level Marketing Companies</li>
      <li>Negative response marketing techniques by any type of seller (i.e. customer is automatically charged if they don’t return the merchandise at the end of the free trial period)</li>
      <li>Newsgroups and/or file sharing services</li>
      <li>Non-Accredited Certification Test Exams, Academic Degrees, or Diplomas</li>
      <li>Offering a Free Gift, Prize or Contest/Sweepstakes entry as an inducement to purchase their product or service</li>
      <li>Online Gaming and In-Game Items</li>
      <li>Outbound Telemarketing Companies</li>
      <li>Phone unlocking/“jailbreaking”, modification chips, unlock codes</li>
      <li>Police and other Government Identification and Equipment</li>
      <li>Pre-Adult Content- Pictures, Videos, etc. of individuals under the age of 18</li>
      <li>Pre-Paid Phone Card or Services</li>
      <li>Prescription Drugs/Devices, Controlled Substances, Unapproved Drugs, Unapproved Medical Devices, Pseudo-Pharmaceuticals</li>
      <li>Products that promote or facilitate illegal activity</li>
      <li>Pseudo-pharmaceuticals (anti-aging pills, sex nutrients, etc.)</li>
      <li>Psychic or astrological readings/consultation</li>
      <li>Radar and/or cellular jammers or boosters</li>
      <li>Remote Access Services / Technical Support</li>
      <li>Replica and/or unlicensed branded goods</li>
      <li>Sellers offering Substantial Rebates or Special Incentives that are awarded to the cardholder subsequent to the original purchase</li>
      <li>Selling Products/Services as an Agent for a Third Party</li>
      <li>Sites that promote Hatred, Racism, or Religious Persecution</li>
      <li>Social Media Advertising</li>
      <li>Sports forecasting or odds-making</li>
      <li>Tobacco Products, Smoking Mixtures, or Tobacco Substitutes</li>
      <li>Travel Services, including Airfare, Cruises, and Car Rentals</li>
      <li>“Up-Sell” Sellers</li>
      <li>Wigs, Hairpieces, Toupees</li>        

      <p><br></p>

</ul></div>

<div class="clearfix visible-sm visible-xs"></div>


        </div>
      </div>
    </div>
    <!-- End Main Content -->
{% endblock %}