{% extends 'base.html' %}
{% load static %}


{% block head %}
  <title>Cookie use - Ftrina</title>
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Refunds</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="title"><span>Returns and Refunds Policy</span></div>


<p>Please read this policy carefully. This is the Return and Refund Policy of
Ftrina. If Products supplied to you are damaged or faulty or are not the products you ordered, please contact and inform us as soon as possible via admin@ftrina.com. We will refund Products that were damaged or faulty at the time of supply to you.</p>

<p>Please return the product/s to the following address in the original condition within 10 days of receipt, indicating your reason for return including, your preferred action (replacement or refund), a copy of your receipt, and we will assess your return request, and if appropriate, replace or refund your purchase using the original payment method.</p>  


<p>All returns should be sent with supporting documentation in original or appropriate packaging to:</p>

<p>Ftrina, Inc</p>
<p>Room 907,</p>
<p>Silvercord Tower 2, 30 Canton Rd.,</p>
<p>Tsim Sha Tsui</p>
<p>Zip: 990777</p>
<p>Hong kong</p>


<p>Returns or exchanges of online purchases may be made by post. As Ftrina, Inc is not liable for the loss of an item being returned we recommend that you return it using registered mail.</p>


<p>Refunds will be processed using the original tender type. EFTPOS/Credit Card refunds must be processed against the original card details (the exact card used to make the original purchase).</p>

<p>Sale items are subject to the same returns policy.</p>

<p>If you have any questions about our Returns and Refunds Policy, please contact
us:</p>

  * By email: admin@ftrina.com.          
        </div>
      </div>
    </div>
    <!-- End Main Content -->
{% endblock %}