{% extends 'base.html' %}
{% load static %}

{% load ratings %}
{% block head %}
  <title> Ftrina - {{shop.name}} </title>

  <link rel='stylesheet' href = '{% static "css/metisMenu.css" %}' />
  <link rel='stylesheet' href = '{% static "css/mm-vertical.css" %}' />

{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>{{shop.name}}</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div style="min-height: 600px" class="container m-t-2">
      <div class="row">

        <!-- Vertical Menu -->
        <div class="col-md-3 m-b-1">
          <div class="title"><span>Menu</span></div>
          <nav class="sidebar-nav">
            <ul class="metismenu vertical-menu">
              <li><a href="{{shop.url}}"><span class="fa fa-fw fa-home"></span> Home</a></li>
              <li><a href="{% url 'shop_shipping' shop=shop.slug  %}"><span class="fa fa-fw fa-truck"></span> Shipping </a></li>
              <li><a href="{% url 'shop_location' shop=shop.slug  %}"><span class="fa fa-fw fa-map-marker"></span> Location</a></li>
              <li class="active">
                <a class="has-arrow" href="#">
                  <span class="fa fa-fw fa-sitemap"></span>
                  Collection
                </a>
                <ul aria-expanded="true">
                  {% for o in shop.collection_set.all %}
                  <li><a href="{{o.url}}">{{o.name}}</a></li>
                  {%endfor%}
                </ul>
              </li>
            </ul>
         </nav>
        </div>
        <!-- End Vertical Menu -->

        <div class="clearfix visible-sm visible-xs"></div>

        <div class="col-md-9">
          <!-- New -->
          {% if shop.have_new %}
          <div class="title m-t-2"><span>New Collection</span></div>
          <div class="product-slider owl-carousel owl-theme owl-controls-top-offset">
            {% for o in shop.new %}
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="{{o.url}}">
                    <img alt="{{o.name}}" src="{{o.main_image}}">
                  </a>
                  <!--
                  <div class="option">
                    <a href="{%url 'add_to_cart' product=o.id %}" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <!--
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  
                  </div>
                  -->
                </div>
                <h6 class="text-center"><a href="{{o.url}}">{{o.name|truncatechars:50}}</a></h6>
                <div class="price">
                  <div> {{ o.usd_price }} <span class="pull-right">USD</span> </div>
                </div>
                <div>Orders  <span class="pull-right">({{o.orders}})</span></div>
                <br>
              <div class="rating">
                {% for i in o.rating.total|full %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {% for i in o.rating.total|empty %}
                    <i class="fa fa-star-o"></i>
                {% endfor %}
                <span class="pull-right">({{o.rating.total}} reviews)</span>
              </div>
              </div>
            </div>
            {%endfor%}
          </div>
          {% endif%}
          <!-- End New-->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- Offers -->
          {% if shop.have_offers %}
          <div class="title m-t-2"><span>Offers</span></div>
          <div class="product-slider owl-carousel owl-theme owl-controls-top-offset">
            {% for o in shop.offers%}
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="{{o.url}}">
                    <img alt="{{o.name}}" src="{{o.main_image}}">
                  </a>
                  <!--
                  <div class="option">
                    <a href="{%url 'add_to_cart' product=o.id %}" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                  -->
                </div>
                <h6 class="text-center"><a href="{{o.url}}">{{o.name|truncatechars:50}}</a></h6>
                <div class="price">
                  <div> {{ o.usd_price }} <span class="pull-right">USD</span> </div>
                </div>
                <div>Orders  <span class="pull-right">({{o.orders}})</span></div>
                <br>
                <div class="rating">
                  {% for i in o.rating.total|full %}
                    <i class="fa fa-star"></i>
                  {% endfor %}
                  {% for i in o.rating.total|empty %}
                    <i class="fa fa-star-o"></i>
                  {% endfor %}
                <span class="pull-right">({{o.rating.total}} reviews)</span>
              </div>
              </div>
            </div>
            {%endfor%}
          </div>
          {% endif%}
          <!-- End Offers -->

          <div class="clearfix visible-sm visible-xs"></div>

        </div>
      </div>

    </div>
    <!-- End Main Content -->
{% endblock %}




















