
{% extends 'base.html' %}
{% load static %}


{% block head %}
  <title>Password Reset Complete - Remaketory</title>
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Reset</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div style="min-height: 600px" class="container m-t-3">
      <div class="row">
        <!-- Reset Form -->
        <div class="col-sm-12 col-xs-12 login-register-form m-b-3">
          <div class="title"><span>Password reset</span></div>
          <p><p>
          <p>Your password has been set.  You may go ahead and log in now.</p>
        </div>
        <!-- End Reset Form -->
      </div>
      <a href="{% url 'login' %}" type="button" class="btn btn-default btn-theme"><i class="fa fa-long-arrow-right"></i> Login</a >
    </div>
    <!-- End Main Content -->

    
{% endblock %}




