
{% extends 'base.html' %}
{% load static %}


{% block head %}
  <title>Password Reset Done - Remaketory</title>
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Reset</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div style="min-height: 600px" class="container m-t-3">
      <div class="row">
        <!-- Reset Form -->
        <div class="col-sm-12 col-xs-12 login-register-form m-b-3">
          <div class="title"><span>Password reset sent</span></div>
          <p><p>
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

          <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

        </div>
        <!-- End Reset Form -->
      </div>
      {% if form.email.errors %}
      <div class = "alert alert-danger"> {{ form.email.errors }} </div>
      {% endif %}
    </div>
    <!-- End Main Content -->

{% endblock %}


