
{% extends 'base.html' %}
{% load static %}


{% block head %}
  <title>Password Reset - Remaketory</title>
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Reset</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div style="min-height: 600px" class="container m-t-3">
      <div class="row">
        <!-- Reset Form -->
        <div class="col-sm-12 col-xs-12 login-register-form m-b-3">
          <div class="title"><span>Password reset</span></div>
          <form method="post">{% csrf_token %}
            <div class="form-group">
              <label for="id_email">Email address</label>
              {{ form.email }}
            </div>
            <input class="btn btn-default btn-theme"type="submit" value="Reset my password" />
          </form>
          <p><p>
          <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        </div>
        <!-- End Reset Form -->
      </div>
      {% if form.email.errors %}
      <div class = "alert alert-danger"> {{ form.email.errors }} </div>
      {% endif %}
    </div>
    <!-- End Main Content -->

    
{% endblock %}


